body {
  display: flex;
  /* background-color: rgb(151, 151, 236); */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%
}

.layout-primary {
  /* max-width: calc(100% - 340px - 64px); */
  align-items: center;
  /* background-color: aquamarine; */
  flex: 1 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  line-height: 16px;
  display: flex;
  flex-direction: column;

}

.content {
  line-height: 1.5;
  max-width: 100%;
  overflow: hidden;

}