body {
  background-color: #ffe893b7;
  background-image: url(/img/pharmacology.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  margin-top: 100px;
  position: center;
  width: 100%;
  overflow: hidden;
  text-align: -webkit-center;
}

.faq-accordion {
  max-width: 900px;
  text-align: left;
  display: flex;
}

.accordion-title {
  background-color: rgba(255, 255, 255, 0.533);
  box-shadow: 0px 0px 5px 2px rgb(200 200 200 / 37%);
  backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Manrope", sans-serif;
  border-radius: 10px;

  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-title:hover {
  background-color: rgba(96, 93, 93, 0.66);
}

.faq-accordion.active .faq {
  display: block;
}

.faq-accordion.active {
  display: block;
}

.faq {
  max-width: none !important;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  display: none;
}

.rec-title {
  font-weight: 800;
  font-family: "Manrope", sans-serif;
}
