/* navigation bar style */
*, *::before, *::after{
  box-sizing: border-box;
}

header{
  height: 50px;
  overflow: hidden;
}

.nav-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
  border-radius: 20px;

  /* for background coloring */
  background: rgb(255, 255, 255);
  backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.663);
}
.nav-wrapper::before,
.nav-wrapper::after{
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
}

.nav-wrapper nav{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation{
  max-width: 500px;
  line-height: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 0;
  overflow: hidden;
  transition: .4s cubic-bezier(.77,0,.18,1);
}
.nav-wrapper.active ul{
  width: 420px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}

a{
  color: #424242;
  text-decoration: none;
  transition: .3s;
}
a:hover{
  color: #ea1a1e;
  cursor: pointer;

}

.nav-toggler{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 48px;
  padding: 14px 5px;
  cursor: pointer;
}
.nav-wrapper:not(.active) .nav-toggler{
  margin-left: -10px;
}
.nav-toggler::before,
.nav-toggler::after{
  content: '';
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ea1a1e;
  transition: .4s cubic-bezier(.77,0,.18,1);
}
.nav-toggler::after {
  margin-top: 10px;
}
.nav-wrapper.active .nav-toggler::before,
.nav-wrapper.active .nav-toggler::after{
  position: absolute;
  top: 50%;
  background-color: #ea1a1e;
  transform: rotate(135deg);
}
.nav-wrapper.active .nav-toggler::after {
  transform: rotate(-135deg);
  margin-top: 0;
}

/* body element */
.layout {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout-primary, .faq {
  /* for box */
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;

  /* for background coloring */
  background: rgba(255, 255, 255, 0.533);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Manrope", sans-serif;
}

.layout-leaflet {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

  /* for background coloring */
  background: rgba(255, 255, 255, 0.533);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Manrope", sans-serif;
}
/* 
mobile version  */

@media only screen and (max-width: 768px) {
.layout-primary {
    width: 90%;
  }
  .calc-column{
    max-width: 88%;

  }

  .navigation {
    max-width: 90%;
    line-height: normal;
  }
}